* {
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 13px;
  padding: 0;
}

window#waybar {
  background-color: rgba(55, 55, 55, 0);
  color: #ccc;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border-radius: 7px;
}

window#waybar.hidden {
  opacity: 1;
}

button {
  border: none;
}

#workspaces {
  transition: all 0.5s ease-in-out;
  padding: 3px 3px;
  border-radius: 5px;
}

#workspaces button {
  padding: 0px 10px;
  margin-right: 10px;
  color: #aaa;
  background-color: transparent;
  border-radius: 5px;
}

#workspaces :last-child {
  margin-right: 0;
}

#workspaces button.active {
  color: #E91E63;
}

button:hover {
  background: inherit;
}

#clock,
#tray,
#network,
#battery,
#backlight,
#pulseaudio,
#idle_inhibitor,
#bluetooth {
  padding: 7px 15px;
  color: #E4D0B5;
  margin-right: 7px;
}

#window {
  color: #666;
  font-size: 9.5px;
}
