* {
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 13px;
  padding: 0;
}

window#waybar {
  background-color: #000;
  color: #ffffff;
  opacity: 0.95;
  border-right: 1px solid #777;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border-radius: 0 5px 5px 0;
}

window#waybar.hidden {
  opacity: 1;
}

button {
  border: none;
}

#workspaces {
  transition: all 0.5s ease-in-out;
  padding: 0px 0px;
  border-radius: 5px;
}

#workspaces button {
  padding: 0px 0px;
  color: #555;
  background-color: transparent;
  border-radius: 7px;
}

#workspaces :last-child {
  margin-right: 0;
}

#workspaces button.active {
  color: #fff;
}

button:hover {
  background: inherit;
}

#clock,
#tray,
#network,
#battery,
#backlight,
#pulseaudio,
#idle_inhibitor,
#bluetooth {
  padding: 10px 10px;
  color: #fff;
  border-radius: 999px;
}
