* {
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 13px;
    padding: 0;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border-radius: 0 0 10px 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#box {
   margin: 0 10px;
}

button {
   border: none;
}

#workspaces {
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  border: 2px solid #A659FF;
  margin-left: 10px;
  background-color: rgba(0,0,35,0.7);
}

#workspaces button {
    padding: 0px 6px;
    color: #A659FF; 
    margin-right: 5px;
    background-color: transparent;
    border-radius: 7px;
}

#workspaces :last-child {
    margin-right: 0;
}

#workspaces button.active {
  color: #fff;
  background: #A659FF
}

button:hover {
    background: inherit;
}

#workspaces button.urgent {
    color: #eb4d4b;
    animation-name: blink;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock,
#tray,
#network,
#battery,
#backlight,
#pulseaudio,
#idle_inhibitor,
#bluetooth {
    padding: 0 17px;
    border-radius: 10px;
    color: #A659FF;
    border: 2px solid #A659FF;
    background-color: rgba(0,0,35,0.7);
}

#tray {
    background-color: #a659ff;
}

#clock {
    margin-right: 10px;
}

@keyframes blink {
    to {
        color: #aaa;
    }
}
